html {
  background: #018ded url(https://unsplash.it/1500/1000?image=881&blur=5);
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.clock {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  margin: 50px auto;
  border: 20px solid white;
  position: relative;
  padding: 1rem;
}

.clock-face {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translate(-3px);
}

.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
}
